*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins',sans-serif;
    overflow:hidden;
    background:#030311;
    color:white;

}

#stars{

    position:fixed;
    inset:0;
    width:100%;
    height:100%;
    z-index:-2;

}

body::before{

content:"";

position:absolute;

width:700px;
height:700px;

background:radial-gradient(circle,#7d5fff55,transparent);

top:-250px;
left:-150px;

filter:blur(80px);

animation:move1 12s infinite alternate;

}

body::after{

content:"";

position:absolute;

width:600px;
height:600px;

background:radial-gradient(circle,#3b82f655,transparent);

bottom:-250px;
right:-150px;

filter:blur(80px);

animation:move2 10s infinite alternate;

}

@keyframes move1{

from{
transform:translate(0,0);
}

to{
transform:translate(120px,60px);
}

}

@keyframes move2{

from{
transform:translate(0,0);
}

to{
transform:translate(-80px,-90px);
}

}

.container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:25px;

}

.card{

width:700px;

padding:45px;

border-radius:30px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.15);

box-shadow:0 0 40px rgba(0,0,0,.5);

text-align:center;

}

h1{

font-size:48px;

font-weight:600;

margin-bottom:30px;

letter-spacing:2px;

}

p{

margin-bottom:18px;

font-size:17px;

line-height:1.9;

font-weight:300;

opacity:.9;

}

button{

margin-top:20px;

padding:15px 40px;

border:none;

border-radius:50px;

font-size:16px;

background:white;

cursor:pointer;

transition:.4s;

}

button:hover{

transform:translateY(-4px);

background:#7d5fff;

color:white;

box-shadow:0 0 20px #7d5fff;

}

.fade{

opacity:0;

transform:translateY(20px);

transition:.8s;

}

.show{

opacity:1;

transform:translateY(0);

}

button:hover{

transform:translateY(-4px);

background:#7d5fff;

color:white;

box-shadow:0 0 20px #7d5fff;

}

.fade{

opacity:0;

transform:translateY(20px);

transition:.8s;

}

.show{

opacity:1;

transform:translateY(0);

}

/* ========================= */
/* Tambahkan di bawah sini */
/* ========================= */

.photo-box img{

    width:180px;
    height:180px;

    object-fit:cover;

    border-radius:50%;

    border:3px solid rgba(255,255,255,.3);

    box-shadow:
    0 0 20px rgba(125,95,255,.7),
    0 0 50px rgba(59,130,246,.4);

    transition:0.8s;
    opacity:1;

}